# Coverage Scores

## Calculating the Coverage Score
---
**Specifications for Coverage Model:**  

**name.CoverageModel( ):**  
- network_type ('drive' or 'walk')
- source_filename (primary input data) 
- dest_filename (secondary input data)  
- upper (is the time (in minutes) in which the origin and destinations are considered to be out of range of each other. As a default, if the travel time distance exceeds 30 minutes, the score will be zero.)
- The prompt will ask for the target which should be specified in the destination file, according to the user's needs. 
        
**name.calculate():**
- Just processes the model specified above. 

In the **scripts**, the user can specify further changed to the coverage score.

Functions within the PCSpend Model class (use as name_of_model.function()):  
- calculate ()
- get_aggregate (aggregate_type) Aggregation can be by ('category') or ('lower_areal_unit') for the community level. If the user wants to modify the level of aggregation, change the lower_areal_unit field in destination csv to another unit of analysis.
- agg_area_cat (aggregate by area and by category)
- write_aggregate (aggregate_type, filename='name')
- write_agg_area_cat (write the aggregation by lower areal unit and by category)
- plot_cdf  (title='Coverage Amount')
- write_csv (filename='name')

<img src="scripts/data/figures/coverage.png" width="900" title="Optional title"  align="center">

In [1]:
import sys, os
os.chdir('scripts')

from CommunityAnalytics import *
import pandas as pd

%matplotlib inline

In [5]:
#View sources and destinations for Chicago Health Facilities
sources=pd.read_csv('data/ORIG/tracts2010.csv')
dest=pd.read_csv('data/DEST/health_chicago.csv')

In [3]:
sources.head()

       geoid10        lon        lat  Pop2014  Pov14  community
0  17031842400 -87.630040  41.742475     5157    769         44
1  17031840300 -87.681882  41.832094     5881   1021         59
2  17031841100 -87.635098  41.851006     3363   2742         34
3  17031841200 -87.683342  41.855562     3710   1819         31
4  17031838200 -87.675079  41.870416     3296    361         28

In [4]:
dest.head()

,ID,Facility,lat,lon,Type,target,category,community
0,1,"American Indian Health Service of Chicago, Inc.",41.956676,-87.651879,5,127000,Other Health Providers,3
1,2,Hamdard Center for Health and Human Services,41.997852,-87.669535,5,190000,Other Health Providers,77
2,3,Infant Welfare Society of Chicago,41.924904,-87.717270,5,137000,Other Health Providers,22
3,4,Mercy Family - Henry Booth House Family Health...,41.841694,-87.624790,5,159000,Other Health Providers,35
4,6,Cook County - Dr. Jorge Prieto Health Center,41.847143,-87.724975,5,166000,Other Health Providers,30

In [2]:
coverage = CoverageModel(network_type='walk',
                         sp_matrix_filename='data/matrices/walk_asym_health_tracts.csv',
                         source_filename='data/ORIG/tracts2010.csv',
                         dest_filename='data/DEST/health_chicago.csv')

The variables in your data set are:
>  geoid10
>  lon
>  lat
>  Pop2014
>  Pov14
>  community
If you have no population variable, write "skip" (no quotations)
If you have no lower areal unit variable, write "skip" (no quotations)
The variables in your data set are:
>  ID
>  Facility
>  lat
>  lon
>  Type
>  target
>  category
>  community
If you have no target variable, write "skip" (no quotations)
If you have no lower areal unit variable, write "skip" (no quotations)
If you have no category variable, write "skip" (no quotations)

INFO:ScoreModel:Loaded sp matrix from file: data/matrices/walk_asym_health_tracts.csv
INFO:ScoreModel:Finished loading sp_matrix in 0.14 seconds
INFO:ScoreModel:Processing... This could take a while
INFO:ScoreModel:Finished processing ModelData in 0.06 seconds

In [3]:
coverage.calculate()

INFO:ScoreModel:Finished calculating CoverageModel in 0.04 seconds

In [11]:
coverage.results

In [7]:
coverage.write_csv()

<img src="scripts/data/figures/coverage_tracts.png" width="700" title="Optional title"  align="center">

### Aggregation by greater areal units

In [6]:
coverage._get_aggregate('coverage').head()

                     target         lat          lon   coverage
lower_areal_unit
44                      NaN         NaN          NaN        NaN
59                 200000.0   41.831274   -87.676580   3.231279
34                 170000.0   41.852812   -87.634843   1.996641
31                 691000.0  209.274216  -438.350068  10.734180
28                2020000.0  502.477414 -1052.049515  29.872472

In [8]:
coverage.write_aggregate('coverage')

#Saved as cov_aggregate_health_tracts_comm.csv

INFO:ScoreModel:Wrote aggregate to file: data/coverage_metrics/coverage_aggregate_0.csv

<img src="scripts/data/figures/cov_t_comm.png" width="750" title="Optional title"  align="center">

In [4]:
coverage.agg_area_cat().head()

/usr/local/lib/python3.6/site-packages/pandas/core/reshape/merge.py:544: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,"(target, All Free Health Clinics)","(target, Federally Qualified Health Centers)","(target, Hospitals)","(target, Other Health Providers)","(target, School-Based Health Centers)","(coverage, All Free Health Clinics)","(coverage, Federally Qualified Health Centers)","(coverage, Hospitals)","(coverage, Other Health Providers)","(coverage, School-Based Health Centers)"
lower_areal_unit,,,,,,,,,,
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,200000.0,NaN,NaN,NaN,NaN,3.231279,NaN,NaN,NaN
34,NaN,NaN,NaN,170000.0,NaN,NaN,NaN,NaN,1.996641,NaN
31,NaN,369000.0,NaN,NaN,322000.0,NaN,5.685867,NaN,NaN,5.048313
28,339000.0,292000.0,614000.0,192000.0,583000.0,6.13458,4.903672,8.655339,2.458166,7.720715

In [10]:
coverage.write_agg_area_cat()

#Saved as cov_aggregate_health_tracts_comm_cat.csv

/usr/local/lib/python3.6/site-packages/pandas/core/reshape/merge.py:544: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
INFO:ScoreModel:Wrote aggregate to file: data/coverage_metrics/walkagg_area_cat_0.csv

See all results in chicago_boundaries.shp