In [1]:
from CommunityAnalytics import *

In [2]:
network_type='walk'
source_data='resources/LEHD_subset.csv'
dest_data='resources/contracts_sample.csv'

#input data
source_df = pd.read_csv(source_data)
dest_df = pd.read_csv(dest_data)

source_df.head()

,Unnamed: 0,BLOCKID10,CE01_2014,POP10,lat,long,community
0,4,170313902002004,6,68,41.815784,-87.601505,KENWOOD
1,4,170313902002005,4,50,41.815809,-87.600925,KENWOOD
2,4,170313903002006,6,43,41.815902,-87.606303,KENWOOD
3,4,170313903002004,89,161,41.815923,-87.605056,KENWOOD
4,4,170313903002002,0,1,41.815943,-87.603627,KENWOOD

In [3]:
dest_df.head()

    agency_id        lat        lon    cat  target
0  agency_001  41.805152 -87.591231  CAT_A   10000
1  agency_002  41.796697 -87.578077  CAT_A   40000
2  agency_003  41.787221 -87.577547  CAT_B    5000
3  agency_004  41.777692 -87.578483  CAT_C   15000
4  agency_005  41.788784 -87.603418  CAT_B   20000

In [4]:
#initialize the first model & calculate
#for now, limiting to just targets of type CAT_A and CAT_B
model_1 = PCSpendModel(network_type=network_type, sp_matrix_filename=None, 
        source_filename=source_data, dest_filename=dest_data, limit_categories=set(['CAT_A', 'CAT_B']))
model_1.calculate()

INFO:p2p:Processing network (walk) in format: csv with epsilon: 0.05
INFO:p2p:filename: resources/LEHD_subset.csv

The variables in your data set are:
>  Unnamed: 0
>  BLOCKID10
>  CE01_2014
>  POP10
>  lat
>  long
>  community
Enter the x coordinate (Latitude): lat
Enter the y coordinate (Longitude): long
Enter the index name: BLOCKID10

INFO:p2p:filename: resources/contracts_sample.csv

The variables in your data set are:
>  agency_id
>  lat
>  lon
>  cat
>  target
Enter the x coordinate (Latitude): lat
Enter the y coordinate (Longitude): long
Enter the y coordinate (Longitude): lon
Enter the index name: agency_id

INFO:osmnet:Requesting network data within bounding box from Overpass API in 1 request(s)
INFO:osmnet:Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](41.71725230,-87.61995200,41.86671280,-87.56538850);>;);out;'}"

Requesting network data within bounding box from Overpass API in 1 request(s)
Posting to http://www.overpass-api.de/api/interpreter with timeout=180, "{'data': '[out:json][timeout:180];(way["highway"]["highway"!~"motor|proposed|construction|abandoned|platform|raceway"]["foot"!~"no"]["pedestrians"!~"no"](41.71725230,-87.61995200,41.86671280,-87.56538850);>;);out;'}"

INFO:osmnet:Downloaded 4,204.9KB from www.overpass-api.de in 1.35 seconds
INFO:osmnet:Downloaded OSM network data within bounding box from Overpass API in 1 request(s) and 1.43 seconds

Downloaded 4,204.9KB from www.overpass-api.de in 1.35 seconds
Downloaded OSM network data within bounding box from Overpass API in 1 request(s) and 1.43 seconds

INFO:osmnet:Returning OSM data with 25,906 nodes and 6,213 ways...

Returning OSM data with 25,906 nodes and 6,213 ways...

INFO:osmnet:Edge node pairs completed. Took 15.09 seconds
INFO:osmnet:Returning processed graph with 10,853 nodes and 16,754 edges...
INFO:osmnet:Completed OSM data download and Pandana node and edge table creation in 17.34 seconds

Edge node pairs completed. Took 15.09 seconds
Returning processed graph with 10,853 nodes and 16,754 edges...
Completed OSM data download and Pandana node and edge table creation in 17.34 seconds

INFO:p2p:Prepared raw network in 0.12 seconds and wrote to: data/raw_network_0.csv
INFO:p2p:Nearest Neighbor matching completed in 0.38 seconds
INFO:p2p:Nearest Neighbor matching completed in 0.01 seconds
INFO:p2p:Shortest path matrix computed in 0.21 seconds
INFO:p2p:All operations completed in 18.08 seconds
INFO:ScoreModel:Generated sp matrix to file: data/walk_full_results_0.csv
INFO:ScoreModel:Processing... This could take from a few seconds to a half hour
INFO:ScoreModel:Finished processing ModelData in 0.03487706184387207 seconds
INFO:ScoreModel:Finished calculating pcspend in 0.023988962173461914 seconds

Cleaned up caculation artifacts

In [5]:
#output
model_1.results.head()

,community,population,lat,lon,geometry,CAT_B,CAT_A
index_right,,,,,,,
170313907003009,KENWOOD,-1,41.802679,-87.582131,POLYGON ((-87.59215283879394 41.81692934626684...,0.000000,0.000000
170313907003005,KENWOOD,-1,41.802725,-87.582430,POLYGON ((-87.59215283879394 41.81692934626684...,0.000000,0.000000
170313907003012,KENWOOD,28,41.802933,-87.585918,POLYGON ((-87.59215283879394 41.81692934626684...,1.922338,14.840673
170313907003006,KENWOOD,94,41.803176,-87.584548,POLYGON ((-87.59215283879394 41.81692934626684...,1.922338,14.840673
170313907003003,KENWOOD,-1,41.803215,-87.581667,POLYGON ((-87.59215283879394 41.81692934626684...,0.000000,0.000000

In [6]:
#we can aggregate to the community level by both population and per capita spending
pop_aggregate = model_1.get_aggregate('population')
pcspend_aggregate = model_1.get_aggregate('pcspend')

pop_aggregate.head()

           population                                           geometry
community
HYDE PARK        2518  POLYGON ((-87.58037662085418 41.80252502205126...
KENWOOD          1737  POLYGON ((-87.59215283879394 41.81692934626684...
WOODLAWN         2546  POLYGON ((-87.57714456891335 41.78614641013439...

In [7]:
pcspend_aggregate.head()

,population,lat,lon,CAT_B,CAT_A,geometry
community,,,,,,
HYDE PARK,10.319672,41.795222,-87.592688,3.135296,8.417182,POLYGON ((-87.58037662085418 41.80252502205126...
KENWOOD,11.134615,41.809145,-87.596692,0.667603,3.739664,POLYGON ((-87.59215283879394 41.81692934626684...
WOODLAWN,7.013774,41.778494,-87.602215,2.448000,0.309337,POLYGON ((-87.57714456891335 41.78614641013439...

In [8]:
#we can generate a choropleth for one of the categories
#figures can be seen in accompanying figures subdirectory
model_1.plot_aggregate(plot_type='pcspend', focus_column='CAT_A')

INFO:ScoreModel:Plot was saved to: figures/fig_0.png

In [9]:
#we can also generate a choropleth for the low income population
model_1.plot_aggregate(plot_type='population')

INFO:ScoreModel:Plot was saved to: figures/fig_1.png

In [10]:
#next, let's look at a cdf of blocks by per capita spending
model_1.plot_cdf()

INFO:ScoreModel:Plot was saved to: figures/fig_2.png

In [11]:
#now for the next model, HSSA
#the last already generated a shortest path matrix, so we can reuse that instead of
#regenerating it
model_2 = HSSAModel(network_type=network_type, sp_matrix_filename='data/walk_full_results_0.csv', 
        source_filename=source_data, dest_filename=dest_data)
model_2.calculate()

INFO:p2p:Loading data from file: data/walk_full_results_0.csv
INFO:p2p:Shortest path matrix loaded from disk in 0.00 seconds
INFO:ScoreModel:Loaded sp matrix from file: data/walk_full_results_0.csv
INFO:ScoreModel:Processing... This could take from a few seconds to a half hour
INFO:ScoreModel:Finished processing ModelData in 0.03478884696960449 seconds
INFO:ScoreModel:Finished calculating hssa in 0.10080695152282715 seconds

In [12]:
#we can do a similar aggregation on this model
score_aggregate = model_2.get_aggregate(aggregate_type='score')
score_aggregate.head()

,population,lat,lon,score,geometry
community,,,,,
HYDE PARK,10.319672,41.795222,-87.592688,57.907286,POLYGON ((-87.58037662085418 41.80252502205126...
KENWOOD,11.134615,41.809145,-87.596692,15.330407,POLYGON ((-87.59215283879394 41.81692934626684...
WOODLAWN,7.013774,41.778494,-87.602215,16.242920,POLYGON ((-87.57714456891335 41.78614641013439...

In [13]:
#and generate choropleths and cdfs
model_2.plot_aggregate()
model_2.plot_cdf()

INFO:ScoreModel:Plot was saved to: figures/fig_3.png
INFO:ScoreModel:Plot was saved to: figures/fig_4.png